# https://git.wiki.kernel.org/index.php/Aliases#Advanced_aliases_with_arguments
# https://stackoverflow.com/questions/26243145/git-aliases-operate-in-the-wrong-directory
# https://osdir.com/ml/git/2009-01/msg00298.html
[user]
	name = Benjamin Toll
	email = benjam72@yahoo.com
	# https://security.stackexchange.com/questions/153579/is-it-safe-to-share-your-gitconfigs-user-signingkey-value-with-the-world
	# https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/telling-git-about-your-signing-key
	# https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/associating-an-email-with-your-gpg-key
	signingkey = E9B789D0D4EC1043
[alias]
	br = branch
	# -S|-s = GPG-sign commit.
	ci = commit -S
	ca = commit -S --amend
	tag = tag -s
	co = checkout
	d = diff
	dirty = ls --dirty -e
	get-hash = rev-parse
	goto = !sh -c 'git rev-parse $0 | xargs git checkout'
	last = log -1 HEAD
	l  = log --graph --decorate --oneline
	# Show changes inline and display 10 lines before changes.
	prose = diff --word-diff --unified=10
	s = status --short --branch
	st = status --short --branch
[core]
	editor = /usr/bin/vim
	# FX = Have the pager automatically exit if all the diff text fits on the screen.
	pager = less -RFX
	# No tabs!
	whitespace = tab-in-indent
[github]
	user = btoll
[diff]
	# Group diff changes more accurately for better readability.
	algorithm = histogram
	submodule = log
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	conflictstyle = diff3
	renamelimit = 9220
[rerere]
	enabled = true

[pull]
	rebase = true
[gpg]
	program = gpg

# https://stackoverflow.com/questions/59797272/receiving-fatal-could-not-read-username-for-https-github-com-terminal-prom
# Fixes errors when `go get ./...`.
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

