# https://git.wiki.kernel.org/index.php/Aliases#Advanced_aliases_with_arguments
# https://stackoverflow.com/questions/26243145/git-aliases-operate-in-the-wrong-directory
# https://osdir.com/ml/git/2009-01/msg00298.html
[user]
	name = Benjamin Toll
	email = benjam72@yahoo.com
	signingkey = A977BCBC
[alias]
	br = branch
	# -S = GPG-sign commit.
	ci = commit -S
	ca = commit -S --amend
	co = checkout
	d = diff
	dirty = ls --dirty -e
	get-hash = rev-parse
	goto = !sh -c 'git rev-parse $0 | xargs git co'
	last = log -1 HEAD
	l  = log --pretty='%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset'
	# Show changes inline and display 10 lines before changes.
	prose = diff --word-diff --unified=10
	s = status --short --branch
	st = status --short --branch
[core]
	editor = /usr/local/bin/vim
	# FX = Have the pager automatically exit if all the diff text fits on the screen.
	pager = less -RFX
	# No tabs!
	whitespace = tab-in-indent
[github]
	user = benjam72@yahoo.com
[diff]
	# Group diff changes more accurately for better readability.
	algorithm = histogram
	submodule = log
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
	renamelimit = 9220
[hooks "pre-commit"]
        hook = EOF.sh
        hook = debugger.sh
        hook = eslint.sh

[rerere]
	enabled = true

