# https://git.wiki.kernel.org/index.php/Aliases#Advanced_aliases_with_arguments

[user]
	name = Benjamin Toll
	email = benjam72@yahoo.com
[alias]
	co = checkout
	br = branch
	st = status -sb
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	unmodify = checkout --
	get-hash = !sh -c 'git show $0 | grep commit | cut -c8-'
	goto = !sh -c 'git show $0 | grep commit | cut -c8- | xargs git co'
	open = "!f() { SHA=$(git get-hash $1); open https://github.com/extjs/SDK/commit/$SHA; }; f"
	open-sha = !sh -c 'open https://github.com/extjs/SDK/commit/$0'
[core]
	editor = /usr/bin/vim
[github]
	user = benjam72@yahoo.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
