# https://git.wiki.kernel.org/index.php/Aliases#Advanced_aliases_with_arguments
# https://stackoverflow.com/questions/26243145/git-aliases-operate-in-the-wrong-directory
[user]
	name = Benjamin Toll
	email = benjam72@yahoo.com
[alias]
	co = checkout
	br = branch
	st = status -sb
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	unmodify = checkout --
	get-hash = !sh -c 'git show $0 | grep commit | cut -c8-'
	goto = !sh -c 'git show $0 | grep commit | cut -c8- | xargs git co'
[core]
	editor = /usr/bin/vim
[github]
	user = benjam72@yahoo.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[hooks "pre-commit"]
	hook = debugger.sh
	hook = EOF.sh
