[user]
	name = Benjamin Toll
	email = benjam72@yahoo.com
[alias]
	co = checkout
	br = branch
	st = status -sb
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	unmodify = checkout --
[core]
	editor = /usr/bin/vim
[github]
	user = benjam72@yahoo.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
