prefix=/home/btoll/npm
init.author.name=Benjamin Toll
init.author.email=benjam72@yahoo.com
init.author.url=http://www.benjamintoll.com
//registry.npmjs.org/:_authToken=46da295a-2f4c-4554-9110-4b216538c056
